a {
  text-decoration: none;
  color: RGBA(251, 223, 171, 1);
}

a:hover {
  text-decoration: underline;
}


.header-container {
  background-color: RGBA(226, 92, 34, 1);
  color: RGBA(251, 223, 171, 1);
  padding: 25px 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.header-container > h1 {
  font-family: Roboto;
  font-weight: bold;
  text-align: center;
}

.contact {
  text-align: center;
}

.about-container {
  background-color: white;
}

.about {
  padding: 45px 100px;
}

.skills-container {
  background-color: white;
  padding: 25px 10px;
  overflow: auto;
  display: table;
  border-spacing: 12px;
  margin: 0 auto;
}

.skills-row {
  display: table-row;
}

.skills-panel {
  text-align: left;
  display: table-cell;
  width: 25%;
  background-color: RGBA(226, 92, 34, 1);
  color: RGBA(251, 223, 171, 1);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.skills-panel > h3 {
  text-align: center;
}

.skills-panel > ul li {
  list-style: none;
  margin-bottom: 8px;
}

.projects-even {
  background-color: white;
}

.projects-odd {
  color: white;
  background-color: RGBA(124, 124, 124, 1);
}

.projects-even, .projects-odd {
  padding: 25px 100px;
  overflow: auto;
}

.p-item {
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: auto;
}

.screenshot img {
  width: 500px;
  border-radius: 5px;
}

.screenshot {
  float: left;
}

.p-info {
  margin-left: 25px;
  float: left;
  width: 50%;
  font-family: Roboto;
}

.p-info > h2 {
  font-family: Roboto;
  font-weight: 900;
  margin-top: 0;
  padding-top: 0;
}

.tech {
  display: block;
  margin-bottom: 25px;
  font-style: italic;
}

.link {
  display: inline-block;
  background-color: RGBA(226, 92, 34, 1);
  color: RGBA(251, 223, 171, 1);
  padding: 3px 8px;
  line-height: 1.5;
  border-radius: 2px;
}

.link:hover {
  background-color: RGBA(248, 184, 0, 1);
  color: black;
}
